.result-list {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
}

.result-list img {
  width: 100%;
  aspect-ratio: 5/8;
}

.result-list img:hover {
  transform: scale(1.1, 1.1);
}
